.hero{
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 25px 160px;
    background-image: url("../img/hero.jpg");
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
}

.hero-paragraph{
    margin: 30px 0;
}

.hero h1{
    font-size: 2em;
    margin: 10px 0;
}

.hero p{
    font-style: italic;
}

.btn-hero{
    border: solid 2px #fff;
    padding: 10px 30px;
    background-color: #29566a;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}