.gap{
    margin:50px;
}

.product-active {
    display: flex;
    text-align: center;
    padding: 45px 160px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.featured-active{
    width: 350px;
}

.prod-data{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.product-category {
    padding: 5px 160px;
}